<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700&display=swap" rel="stylesheet">
</head>

{{#unless hide_header}}
<header class="menu">

    <section class="menu__container">
        <div class="container">
            <img class="menu__logo" src="/images/logoWhite.png" alt="LogoAdidas">

            <button class="hamburguerbtn">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <nav class="mainnav">
                <a class="mainnav__link" href="/"> <strong>HOME</strong> </a>
                <a class="mainnav__link" href="#"> <strong>MEN</strong> </a>
                <a class="mainnav__link" href="#"> <strong>WOMEN</strong> </a>
                <a class="mainnav__link" href="/index"> <strong>PREDATOR</strong> </a>
                <a class="mainnav__link" href="#"> SPORTS </a>
                <a class="mainnav__link" href="#"> BRANDS </a>
            </nav>
        </div>

        <div class="cart">
            <a href="/checkout">
                <img class="menu__mycart" src="/images/cart.png" alt="cart">
            </a>
            <button class="cart__btn">0</button>
            <p>EN</p>
        </div>

    </section>

</header>

{{/unless}}

<body>

    {{{ body }}}

</body>

{{#unless hide_footer}}

<footer>
    <div class="space">
        <img class="space__logo" src="/images/logoWhite.png" alt="LogoAdidas">
    </div>

    <section class="myfoot">

        <div class="myfoot__show">
            <ul>
                <h4>PRODUCTS</h4>
                <li><a href="">Shoes</a></li>
                <li><a href="">Clothing</a></li>
                <li><a href="">Accesories</a></li>
            </ul>

            <ul>
                <h4>SPORTS</h4>
                <li><a href="">Soccer</a></li>
                <li><a href="">Running</a></li>
                <li><a href="">Basketball</a></li>
                <li><a href="">Foobal</a></li>
                <li><a href="">Outdoor</a></li>
                <li><a href="">Golf</a></li>
                <li><a href="">Baseball</a></li>
                <li><a href="">Tennis</a></li>
                <li><a href="">Skeatbording</a></li>
                <li><a href="">Training</a></li>
            </ul>

            <ul>
                <h4>COLELECTIONS</h4>
                <li><a href="">NMD</a></li>
                <li><a href="">Superstar</a></li>
                <li><a href="">Ultraboost</a></li>
                <li><a href="">Believe this Tight</a></li>
                <li><a href="">adicolor</a></li>
                <li><a href="">Predator</a></li>
                <li><a href="">Nite Jogger</a></li>
                <li><a href="">Stan Smith</a></li>
                <li><a href="">EQT</a></li>
                <li><a href="">Gazelle</a></li>
            </ul>

            <ul>
                <h4>SUPPORT</h4>
                <li><a href="">Help</a></li>
                <li><a href="">Return & Exchanges</a></li>
                <li><a href="">Shipping</a></li>
                <li><a href="">Order Tracker</a></li>
                <li><a href="">Store Locator</a></li>
                <li><a href="">Size Charts</a></li>
                <li><a href="">Gift Card Balance</a></li>
                <li><a href="">How to Clean</a></li>
                <li><a href="">Bra Fit Guide</a></li>
                <li><a href="">Promotions</a></li>
            </ul>

        </div>

        <ul class="myfoot__alternative">
            <li><a href="">About us</a></li>
            <li><a href="">Students</a></li>
            <li><a href="">adidas Stories</a></li>
            <li><a href="">adidas Apps</a></li>
            <li><a href="">Sustainability</a></li>
            <li><a href="">Creators Club</a></li>
            <li><a href="">Affilities</a></li>
            <li><a href="">Press</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Gift Cards</a></li>
        </ul>

    </section>
</footer>

{{/unless}}

<script src="/scripts/hambur.js"></script>
<script src="/scripts/cart.js"></script>

</html>