{{#if showError}}
<section>
    <h3>Error!</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eligendi officia odit obcaecati recusandae saepe
        pariatur eaque minima ipsum odio, aliquam error repudiandae reprehenderit, ullam soluta doloremque quisquam
        possimus
        mollitia.</p>
</section>
{{/if}}

<article class="thecheckout">

    <img class="thecheckout__logo" src="/images/src/logoblue.png" alt="">
    <section class="orders">
        <h3>YOUR SHOPPING CART</h3>
          <button class="cart__btn">
                0
            </button>

            <div class="cart__list">
        </div>

        
    </section>

    <form class="checkout" action="/checkout" method="POST">

        <div class="checkout__carddetails">
            <h3>CARD DETAILS</h3>
            <img src="/images/cart.png" alt="cart" srcset="">
        </div>

        <article class="checkout__cards">
            Select Card Type
            <div class="checkout__container">
                <div class="btngroup__item">
                    Visa
                    <img src="/images/src/visa.png" alt="">
                </div>

                <div class="btngroup__item">
                    MasterCard
                    <img src="/images/src/mastercard-logo-white.png" alt="">
                </div>
                <input name="payment_type">
            </div>
        </article>

        <label>
            Name
            <input name="firstname" required="true">
        </label>
        <label>
            Card number
            <input name="cardnumber" required="true">
        </label>

        <div class="checkout__logo">
            <img src="/images/logoWhite.png" alt="logoadidas">
        </div>

        <button class="checkout__btn">CHECK OUT</button>
    </form>

</article>

<script src="./scripts/check.js"></script>
<script src="./scripts/cart.js"></script>