<article class="menu2" style="background: black;" >

    <section class="bannershoe">
        <img class="bannershoe__myshoe" src="/images/srcPredator/e8e407421d5cba1d123b3c223e491a5d.png" alt="shoe">
        <img class="bannershoe__myshoe--black" src="/images/srcPredator/e8e407421d5cba1d123b3c223e491a5d(black).png"
            alt="shoe">
        <img class="bannershoe__myshoe--rose" src="/images/srcPredator/e8e407421d5cba1d123b3c223e491a5d(rose).png"
            alt="shoe">
        <img class="bannershoe__myshoe--white" src="/images/srcPredator/e8e407421d5cba1d123b3c223e491a5d(white).png"
            alt="shoe">
        <img class="bannershoe__myshoe--yellow" src="/images/srcPredator/e8e407421d5cba1d123b3c223e491a5d(Yellow).png"
            alt="shoe">

        <div class="bannershoe__texts">
            <img src="/images/srcPredator/stars.png" alt="stars">
            <h1>PREDATOR MUTATOR</h1>
            <button class="bannershoe__button">Add to Car</button>

            <h2>120$</h2>

            <span>Want to spread the cost of your order with adidas? Select ‘Affirm’ as your payment method at
                checkout, and you can pay in three interest-free installments, with no hidden fees. Following a
                quick eligibility check, you’re all set!
            </span>

        </div>

    </section>

    <article class="publicity">

        <span class="publicity__shoe">

            <img src="/images/srcPredator/publicity1.png" alt="shoe1.2">

            <span class="publicity__text">
                <h3>SUPERSTAR W</h3>
                <h4>75$</h4>
                <p>Metal rivets with a matte finish renew this classic design.</p>
            </span>
        </span>

        <span class="publicity__shoe">
            <img src="/images/srcPredator/publicity2.png" alt="shoe2.2">

            <span class="publicity__text">
                <h3>TENIS SUPERSTAR</h3>
                <h4>80$</h4>
                <p>Used by the royalty of hip-hop in the 80s. An iconic model on the streets today.</p>
            </span>
        </span>

    </article>

</article>

<div class="videos__images">
    <img src="/images/srcPredator/csm_adi_mutatorpack_HEADER_39effe5edb.jpg" alt="photo1">
</div>

<section class="containerAll">

    <div class="slides">

        <div class="slides__mask">

            <article class="slides__container">
                <div class="slides__duotono">
                    <img src="/images/srcPredator/specific1.jpg" alt="specific1">
                    <div class="redColor"></div>
                </div>

                <span>
                    <h3>MORE SPIN</h3>
                    With 406 spikes for more
                    spin on the ball, Demonskin gives you unbelievable
                    swerve on the ball.
                </span>
            </article>

            <article class="slides__container">

                <div class="slides__duotono">
                    <img src="/images/srcPredator/specific2.jpg" alt="specific2">
                    <div class="redColor"></div>
                </div>

                <span>
                    <h3>PERFECT FIT</h3> The Sockfit collar adjusts
                    to the unique contours of your foot, ensuring a
                    perfect fit a optimum support.
                </span>
            </article>

            <article class="slides__container">

                <div class="slides__duotono">
                    <img src="/images/srcPredator/specific3.jpg" alt="specific3">
                    <div class="redColor"></div>
                </div>

                <span>
                    <h3>ROCK-SOLID STABILITY</h3>An all-new outsole maximizes
                    ball-control zones, while the controlframe's polyamide-injected layers stabilize movement.
                </span>
            </article>

            <article class="slides__container">

                <div class="slides__duotono">
                    <img src="/images/srcPredator/specific4.jpg" alt="specific4">
                    <div class="redColor"></div>
                </div>

                <span>
                    <h3>SAVAGE SILHOUETTE</h3>With an anatomical silhouette accentuated by
                    the 406 demonic-looking spikes, the new Predator Mutator lets you look and play savage.
                </span>
            </article>
        </div>

        <div class="buttons__container">
            <button class="slider__btn slider__btn--left"></button>
            <button class="slider__btn slider__btn--right"></button>
        </div>

    </div>


</section>

<section class="characteristics">
    <img class="characteristics__shoe" src="/images/srcPredator/Recurso 9.png" alt="recurso">
    <img class="characteristics__shoe characteristics__shoe--white" src="/images/srcPredator/Recurso 9(white).png"
        alt="recurso">
    <img class="characteristics__shoe characteristics__shoe--yellow" src="/images/srcPredator/Recurso 9(yellow).png"
        alt="recurso">
    <img class="characteristics__shoe characteristics__shoe--black" src="/images/srcPredator/Recurso 9(black).png"
        alt="recurso">
    <img class="characteristics__shoe characteristics__shoe--rose" src="/images/srcPredator/Recurso 9(rose).png"
        alt="recurso">

    <span class="characteristics__texts">
        <h1>FEATURES</h1>

        <article class="characteristics__li">
            <li href="#">Regullir fit</li>
            <li href="#">Laceless construction</li>
            <li href="#">adidas Primeknit upper</li>
            <li href="#">Sock-fit collar</li>
            <li href="#">Firm ground soccer cleats</li>
            <li href="#">Demonskin rubber strike zone</li>
            <li href="#">Imported</li>
            <li href="#">Product color: Core Black / Cloud White / Active Red</li>
            <li href="#">Product code: EF1565</li>

        </article>

    </span>

</section>

<article class="changeColor">

    <section class="changeColor__container">
        <img class="changeColor__shoe" src="/images/srcPredator/paintershoe.png" alt="changeshoe">
        <img class="changeColor__shoe--yellow" src="/images/srcPredator/paintershoeYellow.png" alt="yellow">
        <img class="changeColor__shoe--black" src="/images/srcPredator/paintershoeBlack.png" alt="black">
        <img class="changeColor__shoe--white" src="/images/srcPredator/paintershoeWhite.png" alt="white">
        <img class="changeColor__shoe--rose" src="/images/srcPredator/paintershoeRose.png" alt="rose">

        <span class="changeColor__texts">
            <h1>PREDATOR MUTATOR</h1>
            <p>That's the whole point. Demonskin's
                406 game-changing spikes
                give you 406 more points of contact.
                That's more grip on the
                ball—andmore spin than ever.</p>

            <span class="changeColor__edits">

                <div class="buttons">
                    <h3>Colors</h3>

                    <button class="buttons--red" title="Red"></button>
                    <button class="buttons--white" title="White"></button>
                    <button class="buttons--black" title="Black"></button>
                    <button class="buttons--yellow" title="Yellow"></button>
                    <button class="buttons--rose" title="Rose"></button>
                </div>

            </span>
        </span>

    </section>

</article>

<section class="videos">

    <div class="myvideos">
        <iframe src="https://www.youtube.com/embed/KxTwv00g3JA" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <iframe src="https://www.youtube.com/embed/JJjgahtz6N4" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>

    <div class="videos__images">
        <img src="/images/srcPredator/m2_vd_homebanner_1903x635_pogba_mutator_predator_rev1 (1).jpg" alt="">
    </div>

</section>

<article class="register">
    <h1>REGISTER</h1>

    <div class="register__container">
        <input type="text" placeholder="Name:" class="register__camps">
        <input type="text" placeholder="Last Name:" class="register__camps">
        <input type="text" placeholder="E-mail:" class="register__camps">
        <div class="register__other">
            <input type="password" placeholder="Password:" class="register__camps">
            <input type="password" placeholder="Repeat password:" class="register__camps">
        </div>
        <button class="register__button">Continue</button>
    </div>

</article>

<section class="modal">
    <div class="modal__panel">
        <p>Revisa tu página. Puede que algo haya cambiado.</p>
        <button class="modal__btn modalclose">x</button>
    </div>
</section>

<script src="/scripts/filters.js"></script>
<script src="./scripts/changeColor.js"></script>
<script src="./scripts/changeImg.js"></script>
<script src="./scripts/modal.js"></script>