<div class="content">

    <section class="content__shoe">
        <img src="{{ img }}" alt="imageShoe">
    </section>

    <article class="content__titles">
        <h1> {{ title }}</h1>
        <h3> {{subtitle}} </h3>
        <p> {{description}}</p>
    </article>

</div>