.container {
  display: flex;
  align-items: center;
  width: 75%;
  justify-content: space-evenly;
  /*margin-left: 30px; */
}

.menu {
  position: absolute;
  width: 100%;
  z-index: 1;

  &__container {
    padding: 10px 0px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
  }

  &__logo {
    width: 65px;
    /*margin: 0px 0px 0px -15px;*/
  }

  &__mycart {
    padding: 5px;
  }
}

.cart {
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: center;

  p {
    margin: 0px 10px;
  }
}

::placeholder {
  color: rgb(255, 255, 255);
  opacity: 60%;
}

@media (max-width: 930px) {
  .container {
    width: 70%;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin-left: -20px;
  }

  .cart {
    justify-content: end;
    p {
      display: none;
    }
  }
}
