$myRed: #aa0400;
$myYellow: #f9be24;
$myRose: #da0072;

.bannershoe {
  display: flex;
  color: white;

  &__texts {
    /*background: aqua; */
    margin: 55px 0px 0px 0px;
    padding: 20px;
    width: 600px;
  }

  &__myshoe {
    display: flex;
    min-width: 300px;
    max-width: 700px;
    width: 100%;
    top: 55px;
  }

  &__myshoe--black {
    display: none;
    min-width: 300px;
    max-width: 700px;
    width: 100%;
    top: 55px;
  }

  &__myshoe--white {
    display: none;
    min-width: 300px;
    max-width: 700px;
    width: 100%;
    top: 55px;
  }

  &__myshoe--yellow {
    display: none;
    min-width: 300px;
    max-width: 700px;
    width: 100%;
    top: 55px;
  }

  &__myshoe--rose {
    display: none;
    min-width: 300px;
    max-width: 700px;
    width: 100%;
    top: 55px;
  }

  h1 {
    font-size: 3em;
    margin: 0;
    /*margin: 100px 0px 0px 0px; */
  }

  h2 {
    margin: 10px 0;
  }

  &__button {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    width: 200px;
    height: 50px;
    background: none;
    border: solid white 2px;
    outline: none;
    color: white;
    margin: 10px 0px;
  }

  &__button:hover {
    background: black;
    color: white;
    border: none;
  }
}

.bannershoe__texts--white {
  color: $myRed;
}

.bannershoe__button--white {
  background: $myRed;
}

.bannershoe__button--yellow {
  background: $myYellow;
}

.bannershoe__button--rose {
  background: $myRose;
}

.publicity {
  display: flex;

  margin-top: -55px;
  color: $myRed;

  &__shoe {
    display: flex;
    background: white;
    width: auto;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }

  &__shoe:hover {
    background: black;
    color: white;
  }

  &__text {
    margin: 0px 20px;
  }

  &__text--yellow {
    color: $myYellow;
  }

  &__text--rose {
    color: $myRose;
  }

  h2 {
    margin: 0;
  }

  img {
    min-width: 50px;
    width: 280px;
    justify-content: center;
  }

  h4 {
    margin: 0;
  }
}

.publicity__shoe--black {
  background: $myRed;
  color: black;
}

.publicity__shoe--black:hover {
  background: white;

  span {
    background: none;
    color: $myRed;
  }
}

.publicity__shoe--white {
  background: $myRed;
  color: white;
}

.publicity__shoe--white:hover {
  background: black;
}

@media (max-width: 930px) {
  .bannershoe {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    &__texts {
      margin: 0px;
      width: 100%;
    }
  }

  .publicity__shoe {
    flex-wrap: wrap;
    margin-top: 65px;
  }
}

